@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&family=Source+Sans+3:wght@400;600&display=swap');

@import "tailwindcss";

@theme {
  --font-heading: 'Poppins', sans-serif;
  --font-sans: 'Source Sans 3', sans-serif;

  --color-bg-site: #262726;
  --color-secondary: #1e1e1e;
  --color-primary: #00bf63;
  --color-text-muted: #d9d9d9;
  --color-white: #ffffff;

  --font-size-heading-1: 32px;
  --font-size-heading-2: 28px;
  --font-size-heading-3: 24px;
  --font-size-heading-4: 20px;
  --font-size-heading-5: 18px;
  --font-size-heading-6: 16px;
  --font-size-xl: 20px;
  --font-size-lg: 18px;
  --font-size-body: 16px;
  --font-size-sm: 14px;
  --font-size-xs: 12px;
}

@layer base {
  html {
    scroll-behavior: smooth;
  }

  body {
    margin: 0;
    background-color: var(--color-bg-site);
    color: var(--color-text-muted);
    font-family: var(--font-sans);
  }

  h1, h2, h3, h4, h5, h6 {
    font-family: var(--font-heading);
    letter-spacing: 1px;
  }
  .heading-1{
    font-size: var(--font-size-heading-1);
  }
  .heading-2{
    font-size: var(--font-size-heading-2);
  }
  .heading-3{
    font-size: var(--font-size-heading-3);
  }
  .heading-4{
    font-size: var(--font-size-heading-4);
  }
  .heading-5{
    font-size: var(--font-size-heading-5);
  }
  .heading-6{
    font-size: var(--font-size-heading-6);
  }
  .text-xl{
    font-size: var(--font-size-xl);
  }
  .text-lg{
    font-size: var(--font-size-lg);
  }
  .text-body{
    font-size: var(--font-size-body);
  }
  .text-sm{
    font-size: var(--font-size-sm);
  }
  .text-xs{
    font-size: var(--font-size-xs);
  }

  #root {
    width: 100%;
    max-width: 100%;
    min-height: 100svh;
    display: flex;
    box-sizing: border-box;
  }
}

.main-container {
  @apply mx-4 md:mx-6 my-8;
}

.container {
  @apply flex flex-col justify-center items-center;
}